.navbar {
  position: absolute;
}
.heroimage {
  background-image: url(./images/pexels-denis-poltoradnev-4871102.jpg);
  background-color: #cccccc;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.heroimage {
  padding-top: 1%;
}
.herotext {
  text-align: center;
}

#backgroundcontainer {
  background-color: black;
  padding-top: 3%;
}

#portfolioitem {
  vertical-align: bottom !important;
}
#aboutme {
  background-color: black;
  border-top: white solid;
}
